/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: #3E474F;
} */

.wrapper {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    color: #3E474F;
    max-width: 600px;
    min-width: 90%;
    margin: 10vh auto;
}

.wrapper h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align:center;
}

.wrapper input {
    display: none;
}

.wrapper label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 3px solid #3E474F;
    user-select: none;
}

.wrapper label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.wrapper .cross{
    margin-right:15px;
    margin-top:3px;
}

.wrapper .cross:before,.cross:after {
    content: '';
    border-top: 2px solid #3E474F;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.wrapper .cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.wrapper .content {
    background-color: #f03768;
    color: white;
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

.wrapper input:checked ~ .content {
    min-height: 50px;
    max-height: 400px;
    transition: max-height, 1s;
    text-align: center;
    padding: 15px 0;
}

.wrapper input:checked ~ label .cross:before {
    transform: rotate(180deg);
}

.wrapper input:checked ~ label .cross:after {
    transform: rotate(0deg);
}

.wrapper .questions{
    margin-top:20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, .5s;
}

.wrapper .questions label{
    border:none;
    box-shadow: none;
    margin:0;
}

.wrapper input:checked ~ .questions {
    max-height: 400px;
    border-bottom:2px solid #3E474F;
    transition: 1s;
}

.wrapper input:checked ~ .content a{
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
    font-size: large;
    color: white;
}

.wrapper input:checked ~ .content a:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
    text-decoration: none;
}

/*----------tool-tip------------*/

.wrapper .tip {
    color: #f03768;
    cursor: help;
    position: relative;
    overflow: visible;
    font-family: monospace;
    font-size: 1.3em;
}

.wrapper .tip:before,
.wrapper .tip:after {
    position: absolute;
    opacity: 0;
    z-index: -100;    
    transform: translateY(-30%);
    transition: .4s;
}

.wrapper .tip:before {
    content: '';
    border-style: solid;
    border-width: 0.8em 0.5em 0 0.5em;
    border-color: #3E474F transparent transparent transparent;
    transform: translateY(-200%);
    bottom:90%;
    left:50%;
}

.wrapper .tip:after {
    content: attr(data-tip);
    background: #3E474F;
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 0.8em;
    bottom: 150%;
    left: -50%;
}

.wrapper .tip:hover:before,
.wrapper .tip:hover:after {
    opacity: 1;
    z-index: 100;
    transform: scaleY(1);
}
