.Footer{
    width: 100%;
    padding-bottom: 0.25rem;
}

.Footer p{
    text-align: center;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.Header h1{
    min-height: 25vh;
    min-width: 100vh;
}

.error-page{
    text-align: center;
    padding-top: 35%;
    min-height: 80vh;
}